@namespace TerryTyper
@attribute [StyleSheet]
@using Sandbox.UI
@inherits Dialog

<root class="dialog">
	<div class="loot-inner">
		<div class="header"><label>New theme unlocked!</label></div>
		<div class="body">
			<img src="@(_item.ItemIcon == null || _item.ItemIcon == "" ? "/assets/svg/coins-solid.svg" : _item.ItemIcon)">
			<label>@_item.ItemName (@_item.ItemRarityChance%)</label>
		</div>
		<div class="bottom">
			<button class="close-button" @onclick=@(() => Delete())><label>Yipee!</label></button>
		</div>
	</div>
</root>

@code {

	private ShopOpenDescriptor _item;

	public ShopDialog( ShopOpenDescriptor item )
	{
		_item = item;
	}

}
