@namespace TerryTyper.UI.Hud
@using TerryTyper.UI.Race
@using Sandbox.UI
@inherits Panel
@attribute [StyleSheet]

<root>
	<div class="header">
		<h1>Typing with Terry (・∀・)ノ</h1>
	</div>
	<div class="body">
		<RaceList/>
	</div>
</root>
