@namespace TerryTyper.UI.Hud
@using Sandbox.Razor
@using Sandbox.UI
@inherits Panel
@attribute [StyleSheet]

<root>
	<div class="wrapper">
		<div class="section">
			@Content
		</div>
	</div>
</root>

@code {

	public RenderFragment Content { get; set; }

}
