@namespace TerryTyper.UI.Hud
@using System
@using Sandbox
@using Sandbox.UI
@inherits Panel
@attribute [StyleSheet]

<root>
	<div class="wrapper">
		<div class="info">
			<h1>hello! thanks for playing!</h1>
		</div>
		<div class="spacer"><img class="logo-icon" src="/assets/gif/logo.gif"/></div>
		<div class="control">
			<h1 class="menu-button">press @_tabAction</h1>
		</div>
	</div>
</root>

@code {

	private string _tabAction => Input.GetButtonOrigin( "menu" );
	private bool _isSet = false;

	protected override int BuildHash()
	{
		return HashCode.Combine( _tabAction );
	}

}
