.hud-nav {
  background-color: rgba(0, 112, 255, 0.25);
  backdrop-filter: blur(4px);
  padding: 10px;
  margin-left: 40px;
  margin-right: 40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hud-title {
  font-family: Poppins;
  font-weight: bold;
  font-size: 40px;
}

.hud-section {
  flex-grow: 1;
  margin-left: 40px;
  margin-right: 40px;
}

.nav-section {
  height: 100%;
  display: flex;
  width: 100%;
}

.hud-container {
  background-color: white;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  border-radius: 10px;
  height: 100%;
}