GameNav {
  // display
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(5px);
  border: 2px solid black;
  border-top: none;
  
  // arrangement
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-left: 100px;
  margin-right: 100px;
  
  .header {
    background-color: gray;
    color: black;
    padding: 2px;
    padding-bottom: 5px;
  }
  
  .content {
    padding-left: 30px;
    padding-right: 30px;
    
    .nav-text {
      background-color: rgba(255, 255, 255, 0.8);
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 7.5px;
      font-family: Poppins;
      color: black;
      font-weight: bold;
    }
  }
  
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}