@namespace Sandtype.UI.Hud
@using Sandbox.Razor
@using Sandbox.UI
@attribute [StyleSheet]
@inherits HudPageBase

<root class="hud-page">
	<div class="blur"></div>
	<div class="background"></div>
	<div class="controls">
		<h1 style="font-weight: bold; font-size: 40px;">@PageName</h1>
		<button @onclick=@(() => Parent.Delete())>[close]</button>
	</div>
	<div class="body">
		@Page
	</div>
</root>

@code {

	public string PageName = "No Name :(";
	public RenderFragment Page { get; set; }

}
