RootHud {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
  position: relative;
  
  .game-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }

  .game-menu-wrapper {
    width: 45%;
    height: 100%;
  }

  .game-page-wrapper {
    width: 100%;
    height: 100%;
  }
  
  .game-dialog-wrapper {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
