@namespace TerryTyper.UI.Hud
@using System
@using Sandbox.Razor
@using Sandbox.UI
@attribute [StyleSheet]
@inherits TerryTyper.UI.Hud.RootHudBase

<root>
	<GameNav/>
	<div class="game-body">
		<div class="game-menu-wrapper" @ref="MenuWrapper">
			
		</div>
		<div class="game-page-wrapper" @ref="PageWrapper">
			
		</div>
	</div>
	<div class="game-dialog-wrapper" @ref="DialogWrapper">
    	
    </div>
</root>

@code {

	public Panel MenuWrapper;
	public Panel PageWrapper;
	public Panel DialogWrapper;
	public bool ShowMenu = false;

	protected override int BuildHash()
	{
		return HashCode.Combine( ShowMenu );
	}

}
