GameControls {
  background-color: white;
  border-radius: 20px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  max-width: 700px;
  padding: 20px;
  z-index: 3;
}

.text-sep {
  margin-top: 20px;
  border: 2px solid black;
  width: 100%;
}

GameControls ul {
  display: flex;
  flex-direction: column;
}

GameControls li {
  margin-left: 20px;
}