@namespace Sandtype.UI
@using System
@using Sandbox
@using Sandbox.UI;
@using Sandtype.Engine;
@using Sandtype.UI.Typing;
@attribute [StyleSheet("GameControls.razor.scss")]
@inherits Panel

<root>
	<h1>Hello! Welcome to s&type!</h1>
	<h1>Please note, this demo is very barebones. This is my first time with C# and a modern game engine :)</h1>
	<div class="text-sep"/>
	<h1>To start the test, begin typing. If your inputs aren't registering, click anywhere on the screen.</h1>
	<h1>(your inputs are read by a full-size TextEntry, so keep that in mind!)</h1>
	<div class="text-sep"/>
	<h1>A couple extra notes:</h1>
	<ul>
		<li>press TAB to immediately reset</li>
		<li>contribute at github.com/webcrawls/sandtype</li>
		<li>thanks for playing ♥♥♥♥</li>
	</ul>
</root>
