Hud {
  padding: 40px;
  gap: 40px;
  display: flex;
  flex-direction: column;
  background-image: url("/assets/stars.gif");
}

.input {
  border-radius: 20px;
  border: 5px solid #d26b7d;
  overflow: hidden;
}

.game {
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  border: 5px solid #af4c0f;
}

.boss {
  width: 400px;
  right: 0;
  position: absolute;
}