@namespace Sandtype.UI
@using Sandbox.UI
@attribute [StyleSheet("Hud.razor.scss")]
@inherits Sandbox.UI.RootPanel

<root>
	<div class="hud-section">
		<div class="hud-nav">
			<h1 class="nav-section hud-title" style="align-items: flex-start">Typing with Terry</h1>
            <div class="nav-section">
            	<div class="hud-container">
            		<p>Welcome to TWT! Updates coming soon:)</p>
            	</div>
            </div>
            <h1 class="nav-section hud-title" style="justify-content: flex-end;">WPM: 0.0</h1>
		</div>
	</div>
	<div class="hud-section"></div>
	<div class="hud-section"></div>
</root>
