RootGamePage {
  // display
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(5px);
  border: 2px solid black;
  pointer-events: all;
  width: 100%;

  // arrangement
  display: flex;
  flex-direction: column;

  .header {
    background-color: gray;
    color: black;
    padding: 2px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;

    .exit-button {
      background-color: white;
      color: gray;
      font-weight: bold;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  
  .wrapper {
    height: 100%;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    
    .navigator-body {
      height: 100%;
    }
  }
  
  .hidden {
    display: none;
  }
}

.scrollable {
}