@namespace Sandtype.UI
@using System
@using Sandbox.UI
@inherits Sandbox.UI.Panel
@attribute [StyleSheet("TextView.razor.scss")]

<root>
	<label>@Text</label>
</root>

@code {

	public string Text = "No Text ;D";

	protected override int BuildHash()
	{
		return HashCode.Combine( Text );
	}

}
