TextView {
  position: absolute;
  margin: auto;
  background-color: white;
  color: black;
  border-radius: 20px;
  border: 2px solid black;
  width: 30%;
  height: 50%;
  font-size: 100px;
  transition: transform 1s ease-in-out;

  // When the element is created make it expand from nothing.
  &:intro {
    transform: translateX( -100% );
  }

  // When the element is deleted make it double in size before being deleted.
  &:outro {
    transform: translateX( -100% );
  }
}