TypingView {
  color: black;
  font-family: JetbrainsMono;
  position: relative;
}

// use extra el + class because padding on TypingView seems a bit broken
// actually it looks like font height calculation might be a bit bugged
// yeah size is 22px in editor but font size is 35px?? but its definitely not 
.text-container {
  margin: 40px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

// so we cheat and make each line have a height :D
.text-line {
  height: 50px;
  margin-top: 20px;
  font-size: 30px;
  justify-content: center;
  align-items: center;
}

.text-input {
  position: absolute;
}