SizeControl {
  display: flex;
  flex-direction: column;
  z-index: 5;
  padding: 20px;
}

button {
  cursor: pointer;
  background-color: gray;
  margin: 10px;
  border-radius: 8px;
  padding: 5px;
}