ShopPage {
  font-family: Poppins;
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 30px;
  gap: 20px;
  height: 100%;
  overflow: visible;
  
  .shop-section {
    background-color: #f0f6e8;
    color: #251a36;
    padding: 25px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
    
    .title {
      
    }

    .shop-header {
      gap: 20px;
      padding-bottom: 20px;
      
      .open {
        pointer-events: all;
        cursor: pointer;
        background-color: #5ac5cc;
        color: #ffffff;
        font-weight: bold;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 5px;
      }
    }

    label {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  
  .shop-cards {
    gap: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
  }
  
  .info-header {
    font-weight: bold;
  }
}