@using System
@using System.Collections.Generic
@using Sandbox.UI
@using TerryTyper.Controller
@using TerryTyper.UI.Text
@inherits Panel
@implements IGamePage
@namespace TerryTyper.UI.Hud.Page.Info
@attribute [StyleSheet]

<root>
	<div class="shop-section">
		<h1 class="title">Themes</h1>
		<div class="shop-items">
			@foreach ( var theme in _themes.Values )
			{
				bool unlocked = _unlockedThemes.Contains( theme.Id );
				int price = 5;
				string name = theme.Name;
				<ShopItem Unlocked="@(unlocked)"
				          Name="@(name + (_theme == theme.Id ? " (Selected)" : ""))"
				          Price="@(price)"
				          ClickAction="@( SelectThemeAction( theme.Id ) )"/>
			}
		</div>
	</div>
</root>

@code {
	public string Name => "Shop";
	public bool ShouldScroll => true;
	private DataController _data => TyperGame.Entity.GamePawn.Data;
	private long _currency => _data.Currency;
	private string _theme => _data.SelectedTheme;
	private IList<string> _unlockedThemes => _data.UnlockedThemes;
	private IDictionary<string, TextTheme> _themes = TextTheme.DefaultThemes;

	private void UnlockTheme( string theme )
	{
		if ( _unlockedThemes.Contains( theme ) ) return;
		if ( _currency < 5 ) return;
		_data.Currency -= 5;
		_data.UnlockTheme( theme );
	}

	private Action SelectThemeAction( string theme )
	{
		return () =>
		{
			if ( !_unlockedThemes.Contains( theme ) )
			{
				UnlockTheme( theme );
				return;
			};
			_data.SelectedTheme = theme;
		};
	}

}
