@using System
@using Sandbox.UI
@inherits Button
@namespace TerryTyper.UI.Hud.Page.Info
@attribute [StyleSheet]

<root @onclick=@(() => ClickAction?.Invoke())>
	<label>@Name @(Price == 0 ? "" : ""+Price)</label>
</root>

@code {

	public Action ClickAction;
	public string Name = "";
	public int Price = 0;

}
