@namespace Sandtype.UI.Game
@using System
@using Sandbox.Razor
@using Sandtype.Entity.Pawn.Test
@using Sandtype.Test
@using Sandtype.Test.World
@inherits Sandbox.UI.Panel

<style>
	GameView {
	position: absolute;
	top:  0;
	left: 0;;
	width: 100%;
		height:  100%;
	}

	.game-background {
		position:absolute;
		width:  100%;
		height:  100%;
		z-index: -1;
	}

	.game-overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		padding:  40px;
		opacity: 0.8;
	}
	
	.game-overlay-inner {
		margin: 120px;
		width: 100%;
	}
</style>

<root style="backdrop-filter: blur(3px);">
	<div class="game-background"></div>
	@GameWorld
	<div class="game-overlay">
		<HealthBar @ref="BossHealthBar"/>
	</div>
	<div class="game-overlay">
		<!-- hack because padding doesnt work :D -->
		<div class="game-overlay-inner">
			@if ( Game != null && Game.PlayerHealth <= 0 )
			{
				<PlayerLose Game="@Game" Test="@Test"/>
			}
			else if ( Game != null && Game.TerryHealth <= 0 )
			{
				<PlayerWin Game="@Game" Test="@Test"/>
			}
		</div>
	</div>
</root>

@code {

	public GameWorld? GameWorld { get; set; }
	public TypingTest Test;
	public TerryGame Game;
	public HealthBar BossHealthBar;

	protected override int BuildHash()
	{
		return HashCode.Combine( Game?.TerryHealth, Game?.PlayerHealth, Game?.Paused,  Game?.TerryKillTime, Test?.FirstInputTime );
	}

}
