@namespace Sandtype.UI.Game
@using System
@using Sandbox.Razor
@using Sandbox.UI
@inherits Panel

<style>
	HealthBar {
		position: relative;
		width:  100%;
		height:  30px;
	}

	.progress-background {
		position:  absolute;
		background-color: black;
		border:  2px solid white;
		width:  100%;
		height:  100%;
		z-index: 0;
	}
	
	.progress-value {
		position:  absolute;
		background-color: green;
		top:  0;
		left:  0;;
		height:  100%;
		z-index: 1;
	}
</style>

<root>
	<div class="progress-background"></div>
	<div class="progress-value" @ref="_value"></div>
</root>

@code {

	public float ProgressValue = 0.0f;
	private Panel _value;

	public override void Tick()
	{
		_value.Style.Width = Length.Percent( ProgressValue );
		base.Tick();
	}

	protected override int BuildHash()
	{
		return HashCode.Combine( ProgressValue );
	}

}
