@namespace Sandtype.UI.Game
@attribute [StyleSheet("PlayerInformation.razor.scss")]
@using System
@using Sandbox.UI
@inherits Sandbox.UI.Panel

<root>
	<div class="player-text-line">
		<p class="player-text">Words Typed: @TypedWords</p>
		<p class="player-text">Terry 💢 @TerryHealth / @TerryMaxHealth</p>
		<p class="player-text">Player 💘 @PlayerHealth / @PlayerMaxHealth</p>
	</div>
	<div class="player-text-line">
		<p class="player-text">Terry's Anger: 0%</p>	
		<p class="player-text">Current Wordpack: english</p>	
	</div>
</root>


@code {
	
	public TerryGame Game;
	public TypingTest Test;
	private int TerryHealth => Game?.TerryHealth ?? 0;
	private int TerryMaxHealth => Game?.TerryMaxHealth ?? 0;
	private int PlayerHealth => Game?.PlayerHealth ?? 0;
	private int PlayerMaxHealth => Game?.PlayerMaxHealth ?? 0;
	private int TypedWords => Test?.TypedWords ?? 0;

	protected override int BuildHash()
	{
		return HashCode.Combine( TypedWords, TerryHealth, TerryMaxHealth, PlayerHealth, PlayerMaxHealth );
	}

}
