@namespace Sandtype.UI.Game
@attribute [StyleSheet("PlayerLose.razor.scss")]
@using System
@using Sandbox.UI
@using Sandtype.Entity.Pawn.Test
@using Sandtype.Test
@inherits Sandbox.UI.Panel

<root>
	<div class="player-win-line">
		<p class="player-win-text">Player, you tried your best, but Terry overwhelmed your defenses.</p>
	</div>
	<div class="player-win-line">
		<p class="player-win-text">Words typed: @Test?.TypedWords</p>
	</div>
</root>


@code {
	
	public TerryGame Game;
	public TypingTest Test;

	protected override int BuildHash()
	{
		return HashCode.Combine( 0 );
	}

}
