PlayerWin {
  position: absolute;
  height: 100%;
  color: black;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  width: 100%;
  gap: 20px;
}

.player-text-line {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.player-text {
  font-weight: bold;
  font-size: 32px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding-left: 30px;
}