TerryEnemyNametag {
  background-color: rgba(0, 0, 0, 0.47);
  color: white;
  font-size: 70px;
  font-weight: bold;
  font-family: Poppins;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}