@namespace TerryTyper
@using Sandbox.UI
@inherits GameMenuBase
@attribute [StyleSheet]

<root>
	<div class="header">
		<h1>GameMenu</h1>
		@if ( CurrentUrl != "/" )
		{
			<button class="close-button" @onclick=@(() => Navigate( "/" ))><label>&lt;&lt;&lt;</label></button>
		}
	</div>
	<div class="body">
		<div slot="navigator-canvas"></div>
	</div>
</root>
