MenuControl {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
  
  .button-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    .control-button {
      background-color: #2ba9b4;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 72px;
      height: 72px;
      padding: 10px;
      border-radius: 10px;

      &:hover {
        cursor: pointer;
      }

      img {
        height: 100%;
        width: 100%;
      }
    }
  }
  
  .volume-controls {
    padding: 10px;
    border-radius: 10px;
    background-color: #2ba9b4;
  }
}