@namespace TerryTyper.UI.Hud.Menu
@using Sandbox.UI
@inherits Panel
@attribute [StyleSheet]

<root>
	<div class="button-controls">
		<button class="control-button" @onclick=@(OpenType)>
			<img src="/assets/svg/keyboard-solid.svg"/>
		</button>
		<button class="control-button" @onclick=@(OpenInfo)>
			<img src="/assets/svg/question-solid.svg"/>
		</button>
		<button class="control-button" @onclick=@(OpenStats)>
			<img src="/assets/svg/chart-simple-solid.svg"/>
		</button>
		<button class="control-button" @onclick=@(OpenShop)>
			<img src="/assets/svg/shop-solid.svg"/>
		</button>
	</div>
	<div class="volume-controls">
		<VolumeControl/>
	</div>
</root>

@code {

	private void OpenType()
	{
		TyperGame.Entity.UI.PageNavigate( "/race" );
	}

	private void OpenInfo()
	{
		TyperGame.Entity.UI.PageNavigate( "/" );
	}

	
	private void OpenStats()
	{
		TyperGame.Entity.UI.PageNavigate( "/stats" );
	}

	private void OpenShop()
	{
		TyperGame.Entity.UI.PageNavigate( "/shop" );
	}

}
