VolumeControl {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  
  .volume-icon {
    width: 48px;
    height: 48px;
    margin-right: 15px;
  }
  
  .slider {
    width: 100%;
    color: white;
  }
}