@namespace Sandtype.UI.Setting
@using Sandbox
@using Sandbox.UI
@using Sandtype.Entity.Pawn
@using Sandtype.UI.Theme
@attribute [StyleSheet("SettingHud.razor.scss")]
@inherits Sandbox.UI.Panel

<root>
	<div class="setting-header">
		<button class="button" @onclick="@( () => { CreateEvent( "onclose" );})">close</button>
		@foreach ( var theme in Theme.Themes.Keys )
		{
			<button class="button" @onclick="@( () => { (Game.LocalClient.Pawn as Pawn).Theme = Theme.Themes[theme];})">@theme</button>
		}
	</div>
</root>
