@namespace Sandtype.UI.Menu
@using Sandbox;
@using Sandbox.UI;
@using Sandtype.UI.Boss;
@using Sandtype.UI.Game;
@attribute [StyleSheet]

<root style="flex-direction: column;">

	<div class="game-title">
		@Game.Menu.Package.Title
	</div>

    <div class="controls">

        @if ( Game.InGame )
        {
            <a class="button" href="/active">Current Game</a>
            <a class="button" onclick=@LeaveGame>Leave Game</a>
            <span style="height: 20px;"></span>
        }
        else
        {
            <a class="button" @onclick=@StartFreeType>Free Type</a>
	        <a class="button" @onclick=@StartGame>Play</a>
	        <a class="button" href="/readme">README.md</a>
        }

        <span style="height: 20px;"></span>

        <a class="button" @onclick=@Game.Menu.Close>Quit</a>

    </div>

	<BossPanel/>
	
</root>

@code
{
    void LeaveGame()
    {
        Game.Menu.LeaveServer("Leaving");
    }

	void StartGame()
	{
		_ = Game.Menu.StartServerAsync( 1, "Typing with Terry", "facepunch.construct");
		this.Navigate( "/active" );
	}
	
	void StartFreeType()
	{
		this.Navigate( "/type" );

	}

}
