@namespace Sandtype.UI.Hud.Pages
@using System
@using System.Collections.Generic
@using System.Linq
@using Sandbox
@using Sandbox.UI
@using Sandtype.Entity.Pawn
@using Sandtype.Test
@inherits Panel

<root>
	<HudPage @PageName="Active Races">
		<Page>
			<div class="column games">
				@for ( int i = 0; i < Races.Count; i++ )
				{
					<TypingRaceElement Index="@i" RaceData="@Races[i]"/>
				}
			</div>
		</Page>
	</HudPage>
</root>

<style>
	.games {
		display: flex;
		flex-direction: column;
		overflow: scroll;
		gap:  20px	;
	}
</style>

@code {

	public IList<RaceData> Races => TwtGame.Entity.Games;

	protected override int BuildHash()
	{
		return HashCode.Combine( Races.Count );
	}

}
