StatsPage {
  font-family: Poppins;
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 30px;
  min-height: 100%;
  gap: 20px;
  
  .info-section {
    background-color: #f0f6e8;
    color: #251a36;
    padding: 25px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    
    label {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  
  .info-header {
    font-weight: bold;
  }
}