TextView {
  background-color: #e39aac;
  font-size: 40px;
  font-family: JetBrainsMono;
  font-weight: medium;
  
  .cursor {
    color: #93d4b5;
  }
  
  .error {
    color: #c45d9f;
  }
  
  .typed {
    color: #634b7d;
  }
  
  .untyped {
    color: #6461c2;    
  }
}

.text-race-view {
  background-color: #e39aac;
  font-size: 30px;
}