@using System.Linq
@using Sandbox;
@using Sandtype.UI.Game;
@using Sandbox.UI;
@namespace Sandtype.UI.GameMenu
@attribute [StyleSheet]

<root style="flex-direction: column;">

	<div class="game-title">
		@Game.Menu.Package.Title
	</div>
	
	<div class="body" style="height: 100%; font-size:  40px; flex-direction: column; padding: 30px;">
		<p>welcome to terry teaches typing</p>
		<p>beat the terry bots before they destroy the world</p>
		<p style="height: 40px;"></p>
		<p>this isn't much of a game right now,</p>
		<p>but i'm hoping to expand it with more to do,</p>
		<p>a better free type mode, and whatever else i can cook up.</p>
		<p style="height: 40px;"></p>
		<p>i hope you enjoy the game!</p>
		<p>if you're interested in contributing, check out the github at</p>
		<p>github.com/webcrawls/sandtype</p>
	</div>

	<div class="controls">
		<a class="button" href="/">Main Menu</a>
	</div>

	<BossPanel/>
	
</root>

@code
{
	void LeaveGame()
	{
		Game.Menu.LeaveServer("Leaving");
	}

	void StartGame()
	{
		_ = Game.Menu.StartServerAsync( 1, "Typing with Terry", "<empty>");
		this.Navigate( "/active" );
		Log.Info( "Navigating..." );
	}
	
	void StartFreeType()
	{
		this.Navigate( "/type" );
		Log.Info( "Navigating..." );

	}

}
