label {
  color: white;
  font-weight: bold;
  font-size: 120px;
  text-stroke: 8px black; 
  background-color: rgba(0, 0, 0, 0.37);
  border-radius: 20px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}