RacePlayerLine {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20px;
  
  .start {
    
  }
  
  .end {
    
  }
  
  .line {
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
    
    .line-foreground {
      width: 100%;
      height: 100%;
      z-index: 2;
      position: absolute;
      left: 0;
      top: 0;
      background-color: green;
    }
    
    .line-background {
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 1;
      background-color: gray;
      position: absolute;
    }
  }
}