RacePlayerItem {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  pointer-events: all;
  position: relative;
  border-radius: 30px;
  margin: 30px;
  max-height: 200px;
  
  .text-view-container {
    width: 100%;
    height: 100%;
    position: relative;
    
    .text-view-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  
  .overlay-wrapper {
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    position: absolute;
    z-index: 1;
  }
  
  .race-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    z-index: 2;
  }
  
  .overlay {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 30px;
    text-stroke: 6px black;
    font-weight: bold;
    font-family: Poppins;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 2;
    height: 100%;
    
    .avatar-wrapper {
      height: 100%;
      position: relative;
      .winner {
        z-index: 4;
        overflow: visible;
        position: absolute;
        top: -40px;
        transform: rotateZ(50deg);
        right: -50px;
      }
      .avatar-container {
        overflow: hidden;
        .avatar {
          border-radius: 100%;
          border: 10px solid black;
          position: relative;
        }
      }
    }
    
  }
  
  .view {
    padding: 30px;
  }
}