@namespace TerryTyper
@using System
@using Sandbox.UI
@inherits Panel
@attribute [StyleSheet]

<root>
	<div class="overlay">
		<h1>🚓</h1>
		<div class="line">
			<div class="line-background"></div>
			<div class="line-foreground" style="width: @(Progress*100)%"></div>
		</div>
		<h1>🏁</h1>
	</div>
</root>

@code {

	public float Progress = 0.0f;

	protected override int BuildHash()
	{
		return HashCode.Combine( Progress );
	}

}
